# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Android
/.idea/
/app/.externalNativeBuild
/app/build
/app/jni/lua
/app/jni/SDL2*
/app/src/main/java/org/libsdl
*gradle*
!build.gradle
!gradlew
!gradlew.bat
local.properties
mininet.iml

# Assets
*.png
*.wav

# Eclipse
/.settings/
/Debug/
/Release/
*.stackdump

# Libraries
/lib/lua*
/lib/SDL*

# Visual Studio
*/Debug
*/x64
.metadata
.vs
*.db
*.opendb
*.pdb
*/.settings/*
*.user
